.detalle{
    display: flex;
    flex-direction: row;
    padding: 8% 0 8% 0;
    .imgDetail{
        height: 650px;
    }
    .contDetalle{
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h2{
            margin: 0 0 8px 0;
        }
        .tituloDetail{
            font-weight: 300;
            color: var(--color-Negro2);
        }
        h3{
            padding: 4px;
        }
        .listDetail{
            padding-top: 16px;
            color: var(--color-Verde1);           
            
        }
        .itemCount{
            padding: 24px 0 8px 0;
        }
        .countcont{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: flex-start;
            .count{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 24px 0 8px 0; 
            }
        }

    }
}