.BrandClass{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 48px;
    width: 100%;
    
    .BrandCardClass{
        margin:0 4px 8px 4px;
        width: 280px;
        border-radius: 10px;
        box-shadow: 4px 2px 2px var(--color-Negro3);
        .contImgText{
            display:flex;
            flex-direction: row;
            margin-top: 8px;
            .cardImg{
                width: fit-content;
                margin-left: 8px;
                width: 90px;
            }
            .cardText{
                color: var(--color-Negro1); 
                width: 170px;
                font-family: var(--font-Montserrat);  
                font-size: 20px;
                font-weight: 600;  
                margin-left: 0%;
                display: flex;
                align-self: flex-start;     
            }
        }

    }
}
